{% set classes = [
  'exec-bio',
  'exec-bio--odd',
] | merge(classes|default([])) %}

<div class="{{ classes|join(' ') }}">
  <img class="exec-bio__image" src="https://placeimg.com/600/400/people" />
  <div class="exec-bio__inner">
    <div class="exec-bio__info">
    <h2 class="exec-bio__name">{{ name }}, {{ role }}</h2>
    <h4 class="exec-bio__role">
      <a
        href="https://www.twitter.com/{{ twitter }}"
        class="exec-bio__twitter"
      >
        @{{ twitter }}
      </a>
      <span class="exec-bio__line"></span></h4>
    <p class="exec-bio__body">{{ bio }}</p>
  </div>
  </div>
</div>
